@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


:root{

--primary-color: #F2C94C;

}

body {

    font-family: 'Kalam', cursive;
    color: #333333;
    margin: 0px;

}

 #banner {

    font-size: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    height: 50px;
    padding: 2rem;
       
    }

    #txt-input {
    
        box-sizing: border-box;
        display: block;
        width: 35%;
        height: 20vh;
        margin-top: 4rem;
        margin-right: auto;
        margin-left: auto;
        font-family: inherit;
        font-size: large;

    }

    #btn-translate {

     box-sizing: border-box;
     display: block;
     background-color: var(--primary-color);
     border: 0px;
     width: 12%;
     height: 8vh;
     padding: 4px 2px 4px 2px;
     margin-left: 32%;
     font-family: inherit;
     font-size: larger;

    }


    #translate-txt {

      text-align: center;
      margin-right: 32%;
      margin-left: 10%;
      font-size: large;
    }


    #translated-output {

        box-sizing: border-box;
        display: block;
        width: 35%;
        height: 20vh;
        margin: auto;
        overflow: scroll;
        border: 1px solid;

    }

    #footer-container {
        
        
      text-align: center;
      margin-top: 3rem;
      background-color: var(--primary-color);
      padding: 1rem;
      position: fixed;
      box-sizing: border-box;
      width: 100%;
   
    }

    footer p {

        font-size: large;
    }




